/* ADD YOUR STYLES HERE */
.horizontal{
	text-align: center;
}
.horizontal > * {
	display: inline-block;
	padding: 20px;
	vertical-align: top;
}	

.verticle > * {
	text-align: left;
	padding-top: 100px;
	padding-bottom: 100px;
}

.list > * {
	display: inline-block;
}
.listproducts > * {
	display: inline-block;
}
/*.listproducts {
	background-color: #FF6666;
	text-align: center;*/
	
}
.button1{
font-size: 10px;
padding: 10px;
color: white;
background-color: #FF6666;
height: 30px;
width: 50px;
border-radius: 5px;
text-decoration:none;
text-align: center;
box-sizing: border-box;
position: relative; 
display: inline-block;
vertical-align: middle;
border: none;
}

.button2{
font-size: 15px;
padding: 10px;
color: white;
background-color: #FF6666;
height: 40px;
width: 100px;
border-radius: 5px;
text-decoration:none;
text-align: center;
box-sizing: border-box; 
position: relative;
display: inline-block;	
vertical-align: middle;
border: none;
}

.button3{
font-size: 20px;	
padding: 20px;
color: white;
background-color: #FF6666;
height: 60px;
width: 160px;
border-radius: 5px;
text-decoration:none;
text-align: center;
box-sizing: border-box; 
position: relative;
display: inline-block;
vertical-align: middle;
border: none;
}
.firstmenuitem{
border-radius: 10px 0px 0px 10px;
color: white;
background-color: #FF6666;
height: 60px;
width: 140px;
box-sizing: border-box; 
display: inline-block;
vertical-align: middle;
font-size: 20px;
text-decoration:none;	
padding: 20px 0 0 20px;	
text-align: center;
}
.lastmenuitem{
border-radius: 0px 10px 10px 0px;
color: white;
background-color: #FF6666;
height: 60px;
width: 140px;
box-sizing: border-box; 
display: inline-block;
vertical-align: middle;
font-size: 20px;	
text-decoration:none;
text-align: center;
padding: 20px 0 0 20px;	

}
.menuitem {
font-size: 20px;	
padding: 20px 0 0 20px;	
color: white;
background-color: #FF6666;
height: 60px;
width: 140px;
text-decoration:none;
text-align: center;
box-sizing: border-box; 
position: relative;
display: inline-block;
vertical-align: middle;
border: none;
text-align: center;
}

.menuitem:hover {
z-index: 2;
color: #FF6666;
background-color: white;
}

.firstmenuitem:hover {
z-index: 2;
color: #FF6666;
background-color: white;
}

.lastmenuitem:hover {
z-index: 2;
color: #FF6666;
background-color: white;
}

.navigation > * {
	display: inline-block;
}

.list2 > * {
	display: inline-block;
}
.direction{
color: #FF6666;
padding: 5px 5px;
font-size: 25px;
text-decoration:none;
padding-right: 20px;
}

.number{
color: #FF6666;
padding: 5px 5px;
font-size: 25px;
margin: 5px;
border-bottom: 3px solid #FF6666;
text-decoration:none;
}

.number:hover{
color: gray;
border-bottom: 3px solid gray;
}

.direction:hover{
color: gray;
}

.listitem{
	height:55px;
}

.mediaimage{
	padding: 10px;
	float: left;
}
.mediacontent{	
	/*overflow: hidden;*/
	display: inline-block;
	padding: 10px;
}
.mediaobject{
	clear: left;
}

time {
color: gray;
font-size: 9px;
}


.menulist2 > * {
	display: inline-block;
	text-decoration:none;
}
.menuitem2 {	
padding: 20px;
height: 60px;
width: 140px;
text-align: center;
box-sizing: border-box; 
position: relative;
display: inline-block;
vertical-align: middle;
border: 2px solid blue;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom: none;
z-index: 4;
}
	
.menuitem2:hover {
color: white;
border-bottom: 2px solid white;
z-index: 4;
top: 2px;
position: relative;
height: 60px;
}

.bodytext{
border: 2px solid blue;
border-radius: 10px;
padding: 10px;
}

.menuitem3{
text-decoration:none;	
font-size: 15px;
font-color: white;
background-color: white;	
}
























